<div class="row">
    <div class="offset-sm-1 col-sm-10 mt-4 mb-4">
        <%= render 'discussions/discussions', discussions: @discussion %>
    </div>
    <div class="col-sm-6 offset-sm-3 mb-5">
        <%= form_with(model: @comment, local: true) do |f| %>
          <%= render 'layouts/error_messages', model: @comment %>
          <div class="form-group">
            <%= f.label :opinion, '意見' %>
            <%= f.text_area :opinion, class: 'form-control', rows: 5, required: true, placeholder: '自論・反論・ご意見等をご記入ください（250字以内）' %>
          </div>
          <div class="form-group">
            <%= f.label :learning, '共感・学び' %>
            <%= f.text_area :learning, class: 'form-control', rows: 5, required: true, placeholder: '共感したポイント等をご記入ください（250字以内）' %>
          </div>
          <%= hidden_field_tag :discussion_id, @discussion.first.id %>
          <%= f.submit 'SyaberuBaに発言する！', class: 'btn btn-primary btn-block rounded-pill' %>
        <% end %>
    </div>
</div>