<div class="text-center">
  <h1>ユーザー情報編集</h1>
</div>

<div class="row">
  <div class="col-sm-6 offset-sm-3 mb-5">
    <%= form_with(model: @user, local: true, method: :put) do |f| %>
      <%= render 'layouts/error_messages', model: @user %>
      <% if @user.image? %>
        <%= image_tag @user.image.to_s, class: 'border rounded-circle d-block mx-auto mt-3 mb-2', style: 'object-fit: cover;', size: 150, alt: 'プロフィールイメージ' %>
      <% else %>
        <%= image_tag 'avatar.jpeg', class: 'border rounded-circle d-block mx-auto mt-3 mb-2', size: 150, alt: 'プロフィールイメージ' %>
      <% end %>
      <div class="mt-2 mb-3 text-center">
        <%= f.file_field :image %>
        <% if @user.image? %>
          <p class="mt-2 text-center"><%= f.check_box :remove_image %>プロフィール画像の削除</p>
        <% else %>
          <%= f.hidden_field :remove_image, value: 0 %>
        <% end %>
      </div>
      <div class="form-group">
        <%= f.label :name, 'ユーザーネーム' %>
        <%= f.text_field :name, class: 'form-control', required: true, placeholder: 'SyaberuBa表示名' %>
      </div>
      <div class="form-group">
        <%= f.label :email, 'メールアドレス' %>
        <%= f.email_field :email, class: 'form-control', required: true, placeholder: 'example@example.com' %>
      </div>
      <div class="form-group">
        <%= f.label :job, '職業' %>
        <%= f.text_field :job, class: 'form-control', required: true, placeholder: '業種・役職など' %>
      </div>
      <div class="form-group">
        <%= f.label :sex, '性別', class: 'd-block' %>
        <%= f.radio_button :sex, :男性, required: true %>
        <%= f.label :sex, '男性', class: 'd-inline mr-1' %>
        <%= f.radio_button :sex, :女性 %>
        <%= f.label :sex, '女性', class: 'd-inline mr-1' %>
        <%= f.radio_button :sex, :Xジェンダー %>
        <%= f.label :sex, 'Xジェンダー', class: 'd-inline' %>
      </div>
      <div class="form-group">
        <%= f.label :age, '年齢' %>
        <%= f.number_field :age, in: 1.0..120.0, step: 1.0, class: 'form-control', required: true %>
      </div>
      <div class="form-group">
        <%= f.label :password, 'パスワード' %>
        <%= f.password_field :password, class: 'form-control', required: true %>
      </div>
      <div class="form-group">
        <%= f.label :password_confirmation, 'パスワード（確認）' %>
        <%= f.password_field :password_confirmation, class: 'form-control', required: true %>
      </div>
      <%= f.submit '登録する', class: 'btn btn-primary btn-block rounded-pill' %>
    <% end %>
    <%= link_to 'SyaberuBaを退会する', current_user, method: :delete, data: { confirm: 'SyaberuBaから退会しますか？'} %>
  </div>
</div>
